policy_module(esdm_proc, 1.0.0)

########################################
#
# Declarations
#

type esdm_proc_t;
type esdm_proc_exec_t;
init_daemon_domain(esdm_proc_t, esdm_proc_exec_t)

permissive esdm_proc_t;

########################################
#
# esdm_proc local policy
#
allow esdm_proc_t self:capability { setgid setuid };
allow esdm_proc_t self:fifo_file rw_fifo_file_perms;
allow esdm_proc_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(esdm_proc_t)

files_read_etc_files(esdm_proc_t)

auth_use_nsswitch(esdm_proc_t)

miscfiles_read_localization(esdm_proc_t)

require {
	type fusefs_t;
	type fuse_device_t;
	type user_tmp_t;
	type esdm_proc_t;
	type unconfined_t;
	type var_run_t;
	type sysctl_kernel_t;
	type unconfined_service_t;
	type bin_t;
	class filesystem { associate mount relabelfrom relabelto };
	class file { execute execute_no_trans map open };
	class sock_file { getattr write };
	class unix_stream_socket connectto;
	class chr_file { open read write };
	class dir mounton;
}

#============= esdm_proc_t ==============
allow esdm_proc_t bin_t:file { execute execute_no_trans };
allow esdm_proc_t fuse_device_t:chr_file { open read write };
allow esdm_proc_t fusefs_t:filesystem relabelfrom;
allow esdm_proc_t sysctl_kernel_t:dir mounton;
allow esdm_proc_t sysctl_kernel_t:filesystem { mount relabelfrom relabelto };
allow esdm_proc_t unconfined_service_t:unix_stream_socket connectto;
allow esdm_proc_t user_tmp_t:file { execute open };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow esdm_proc_t user_tmp_t:file map;
allow esdm_proc_t var_run_t:sock_file { getattr write };
